* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

.container__product {
    width: 40vw;
    height: 50vh;
    display: flex;
    background-color: hsl(0, 0%, 100%);
    align-items: center;
}

.container__img {
    width: 50%;
    height: 100%;
}

.img, .img__mobile {
    width: 100%;
    height: 100%;
}

.img__mobile {
    display: none;
}

.container__content__product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding: 40px 30px;
    height: 100%;
}

.type__product, .paragraph__product {
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    font-size: .8rem;
    font-weight: lighter;
}

.name__product {
    font-family: 'Fraunces';
}

.paragraph__product {
    font-size: .85rem;
}

.container__price__product {
    display: flex;
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces';
    align-items: center;
}

.price__product__last {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: .7rem;
    margin-left: 1.8rem;
}

.button__add__cart {
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    width: 95%;
    padding: .8rem 0;
    margin: 0 auto;
    border-radius: 10px;
}